<div id="empl">
    <div ng-controller="EmployeeListCtrl">
        <p>New employee</p>
        <input type='text' ng-model="employee.firstName">
        <input type='text' ng-model="employee.lastName">
        <input type='text' ng-model="employee.secondName">
        <input type="button" ng-click="addEmployee(employee)" value="Add employee">
        <input type="button" ng-click="updateEmployee()" value="Update employee">
        <ul>
            <li ng-repeat="employee in employees" ng-click="addEmpToGroup(employee)">
                {{employee.firstName}}
                {{employee.lastName}}
                {{employee.secondName}}
            </li>
        </ul>
        <input type="button" class="button3" ng-click="generate()" value="generate">
    </div>
</div>
<div id="grooper" ng-controller="EmployeeListCtrl">
    <div ng-controller="GroupListCtrl">
        <p>Rules list</p>
        <div ng-repeat="rule in rules">
            {{rule.ruleName}}
            {{rule.description}}
            <input type="button" ng-click="createGroup(rule)" value="Add group">
        </div>
        <p>Groups</p>
        <div ng-repeat="group in groups" >
            <p><div ng-click="groupInfo(group)">{{group.ruleName}}</div>
                <!-- your code -->
            <input type="button" class="button3" ng-click="addEmpsToGroup(group, this)" ng-style="group.customStyle" value="add emp" ></p>
            <ul>
                <li ng-repeat="employee in group.employees">
                    {{employee.firstName}}
                    {{employee.lastName}}
                    {{employee.secondName}}
                </li>
            </ul>
        </div>

    </div>
</div>