<div id="empl">
    <div ng-controller="EmployeeListCtrl">
        <p>New employee</p>
        <input type='text' ng-model="employee.firstName">
        <input type='text' ng-model="employee.lastName">
        <input type='text' ng-model="employee.secondName">
        <input type="button" ng-click="addEmployee(employee)" value="Add employee">
        <input type="button" ng-click="updateEmployee()" value="Update employee">
        <ul>

            <li ng-repeat="employee in employees" ng-click="addEmpToGroup(employee)">
                {{employee.firstName}}
                {{employee.lastName}}
                {{employee.secondName}}
            </li>
        </ul>
    </div>
</div>
<div id="grooper">
    <div ng-controller="GroupListCtrl">
        <p>Rules list</p>
        <ul>
            <li ng-repeat="rule in rules" >
                {{rule.ruleName}}
                {{rule.description}}
            </li>
        </ul>
        <input type='text' ng-model="newGroup.ruleId">
        <input type="button" ng-click="createGroup(newGroup)" value="Add group">
        <div ng-repeat="group in groups" >
            <p><div ng-click="groupInfo(group)">{{group.departmentId}} {{group.ruleId}}</div>
            <input type="button" ng-click="addEmpsToGroup(group)" value="add emp"></p>
            <ul>
                <li ng-repeat="employee in group.employees">
                    {{employee.firstName}}
                    {{employee.lastName}}
                    {{employee.secondName}}
                </li>
            </ul>
        </div>

    </div>
</div>